<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div>
            <ul class="navi">
                <li class="li"><a href="/login/id=<%= id.id %>/home" class="anchor">Home</li>
                <li class="li"><a href="/login/id=<%= id.id %>/newPost" class="anchor">New</li>
                <li class="li"><a href="/" class="anchor">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="grid card_layout">
        <% for(let post of Posts){ %>
            <div class="card">

                <div class="flex_left">
                    @<%= post.username.slice(0,post.username.indexOf('@')) %>
                </div>
                <div class="flex_right">
                    <%= post.postDate %>
                </div>

                <b>
                    <div class="title">TITLE</div>
                </b>
                <hr>
                <div class="content">
                    <%= post.title %>
                </div>
                <div class="flex card_layout">
                    <a href="/login/id=<%= post.user_id %>/View/post.id=<%= post.id %>" class="link"
                        style="position:relative;margin-left:25%;">View</a>
                    <a href="/login/id=<%= post.user_id %>/Edit/post.id=<%= post.id %>" class="link"
                        style="position:relative;margin-left:5%;">Edit</a>
                    <a href="/login/id=<%= post.user_id %>/Delete/post.id=<%= post.id %>" class="link"
                        style="position:relative;margin-left:5%;">Delete</a>
                </div>
            </div>
            <% } %>
    </div>
</body>

</html>